@import 'styles/color.module.scss';
@import 'styles/text.module.scss';
@import 'styles/_breakpoints.scss';



.section{
    width: 100%;
    background-color: $background-color-secondary;
}

.container{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 48px 72px;



}

.wrapper{

    @include desktop{
        max-width: 1400px;
        padding: 0 48px;

    }
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.titleContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.titleSection{
    padding-top: 64px;
    width: 100%;
    display: flex; 
    flex-direction: column;
    gap: 8px;
    @include desktop{
        flex-direction: row;
        justify-content: space-between;
    }
}

.title{
    font: $title-section;
    color: $text-color;
}

.description{
    font: $text;
    color: $text-color;
    letter-spacing: 1px;
    max-width: 600px;
    word-spacing: 2px;
    line-height: 1.5;

}

.servicesList{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    align-items: center;
    
    @include desktop{
        flex-direction: row;

    }
}