@import 'styles/color.module.scss';
@import 'styles/text.module.scss';
@import 'styles/_breakpoints.scss';

.container{
    display: flex;
    gap: 32px;
    align-items: center;
    flex-direction: column;
    padding: 0 48px 72px 48px;
    @include tablet{
        flex-direction: column;
        max-width: 1400px;
        margin: auto;
        padding: 64px 72px;
        align-items: center;
        justify-content: center;
    }
}

.section{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.title{
    font : $title-section;
    color: $text-color;
}

.description{
    font: $footer-text;
    color: $text-color;
}
.underline{
    color: $secondary;
}