@import 'styles/color.module.scss';
@import 'styles/text.module.scss';
@import 'styles/_breakpoints.scss';


.container{
    display: flex;
    width: 100%;
    background-color: $background-color;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}
.wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 0 16px;
    z-index: 100;
    @include desktop{
        max-width: 1400px;
    }
}

.leftContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

}

.listNav{
    display: flex;
    align-items: center;
    gap: 24px;
}

.link{
    text-decoration: none;
    font: $header;
    color: $text-color;
    transition: transform 0.2s ease-in-out;

    &:hover{
        color: $secondary-hover;
    }
}

.buttonContainer{
    display: flex;
    gap: 16px;
}


.logo{
    width: 50px;
    height: 50px;
}


