@import 'styles/color.module.scss';
@import 'styles/text.module.scss';
@import 'styles/_breakpoints.scss';

.container{
    display: flex;
    width: 100%;
    gap:94px;
    padding: 72px 32px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @include tablet{
        flex-direction: row;
        max-width: 1400px;
        padding:  72px; 
    }
    text-align: justify;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 425px;
}

.titleContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title{
    max-width: 450px;
    font: $title-section;
    color: $text-color;
}

.description{
    font: $text;
    color: $text-color;
    max-width: 450px;
}

.rightContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    @include desktop{
        padding: 38px;
    }
    background-color: $white;
    justify-content: center;
    align-items: center;
}

.squareBorder{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border: 14px solid #d7d7d7;
}

.squareDescription{
    font: $text;
    color: $secondary-hover;
    max-width: 450px;
}


.titleContact{
    font: $title-card-services;
}



.contactSection{
    display: flex;
    gap: 16px;
}

.squarePhone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: $secondary;
    gap: 32px;

}

.contactInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactUs{
    font: $text;
}

.contactNumber{
    font: $footer-title;
}

.link{
    text-decoration: none;
}