@import 'styles/color.module.scss';
@import 'styles/text.module.scss';
@import 'styles/_breakpoints.scss';

.container{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    background-color: $background-color;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    justify-content: center;
    max-width: 1400px;
    padding: 32px 72px;

}

.title{
    font: $title-section;
    color: $text-color;
    text-align: center;

}

.description{
    font: $text;
    color: $text-color;
}


