$primary: #161D27;
$secondary-blue: #555F6D;
$secondary : #daa458;
$secondary-hover: hsl(35, 64%, 70%);

$gray: #2E3947;
$gray: #D7D7D7;


$text-color: #f5e6d2;
$background-color: #002139;
$title-section-color: #264050;