$primary: #161D27;
$secondary-blue: #555F6D;
$secondary : #daa458;
$secondary-hover: hsl(35, 64%, 70%);
$text-color: #f5e6d2;
$background-color: #002139;
$background-color-secondary: hsl(200, 100%, 7%);

$white : #ffffff;

$gray: #2E3947;


$title-section-color: #264050;