$hero-title :   500  4.375rem 'Inter Mono', monospace;

$title-section : 700 8.125rem 'Mona', sans-serif;
$title-section-laptop : 700 5.625rem 'Mona', sans-serif;
$title-section-mobile : 700 4.125rem 'Mona', sans-serif;
$text : 400 1.125rem 'Mona', monospace;
$third-title : 700 2.8125rem 'Mona', sans-serif;
$header : 400 1.5rem 'Mona', sans-serif;



$company-name : 600 2rem 'Medium' , 'Inter' , sans-serif;
$kpi: 600 1.5rem 'Inter Mono', monospace;
$company-slogan : 550 1rem 'Medium' ,'Inter Mono', monospace;
$text: 500 0.75rem 'Medium', 'Inter Mono', monospace;
$title-text: 600 0.9rem 'Medium', 'Inter Mono', monospace;
$detail: 700 0.75rem 'Inter Mono', monospace;
$name: 700 0.8rem 'Inter Mono', monospace;
$card-info : 500 0.7rem 'Inter Mono', monospace;
$link :  700 0.8rem 'Medium', 'Inter Mono', monospace;
$secondary-info : 500 0.7rem 'Medium', 'Inter Mono', monospace;