@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@100..900&display=swap');


$hero-title :   500  4.375rem 'Cormorant Garamond', monospace;
$title-section : 700 3rem 'Cormorant Garamond', monospace;
$text : 400 1.30rem 'Outfit', sans-serif;
$header : 400 1.2rem 'Cormorant Garamond', sans-serif;
$title-card-services : 700 2.25rem 'Cormorant Garamond', monospace;
$title-card : 700 1.75rem 'Cormorant Garamond', monospace;
$card-description: 400 1.25rem 'Outfit', sans-serif;
$footer-text : 400 1rem 'Outfit', sans-serif;
$footer-title : 700 1.5rem 'Outfit', sans-serif;



$title-section-laptop : 700 5.625rem 'Outfit', sans-serif;
$title-section-mobile : 700 4.125rem 'Outfit', sans-serif;
$button-text : 400 1rem 'Outfit', sans-serif;
$third-title : 700 2.8125rem 'Outfit', sans-serif;



// $company-name : 600 2rem 'Medium' , 'Inter' , sans-serif;
// $kpi: 600 1.5rem 'Inter Mono', monospace;
// $company-slogan : 550 1rem 'Medium' ,'Inter Mono', monospace;
// $title-text: 600 0.9rem 'Medium', 'Inter Mono', monospace;
// $detail: 700 0.75rem 'Inter Mono', monospace;
// $name: 700 0.8rem 'Inter Mono', monospace;
// $card-info : 500 0.7rem 'Inter Mono', monospace;
// $link :  700 0.8rem 'Medium', 'Inter Mono', monospace;
// $secondary-info : 500 0.7rem 'Medium', 'Inter Mono', monospace;