@import 'styles/color.module.scss';
@import 'styles/text.module.scss';
@import 'styles/_breakpoints.scss';


.container{
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    background-color: $card-background-secondary;
    border: none;
    gap: 16px;
    max-width: 500px;

    @include desktop{
        max-width: 600px;
    }
    height: auto;
    max-height: 75px;
    transition: max-height ease 0.5s;
    border-radius: 8px;
    padding: 24px 24px 0 24px;
    &.active{
        max-height: 1000px;
    }
}

.svg{
    width: 24px;
    height: 24px;

    &.active{
        transform: rotate(180deg);
        transition: transform 0.5s ease;
    }

}

.titleContainer{
    display: flex;
    gap: 32px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
   
}

.title{
    color: $text-color;
    text-align: left;
    font: $collapse-service-title;
    position: relative;
    min-width: 300px;
    &::after{
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 25px;
        height: 3px;
        background-color: $secondary;
        transform: translateY(40px)
    }

}

.description{
    transition: height ease 0.5s;
    font: $text;
    color: $text-color;
    text-align: justify;

}